<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>OOP MVC</title>
    </head>
    <body>
        <header>
            Awesome header
        </header>
        <nav>
            <ul>
                {% if user is defined %}
                    <li><a href="?action=user_account">My Files</a></li>
                    <li><a href="?action=logout">Logout</a></li>
                {% else %}
                    <li><a href="?action=register">Register</a></li>
                    <li><a href="?action=login">Login</a></li>
                {% endif %}
            </ul>
        </nav>
        {% if error is defined and error is not empty %}
        <p class="error">Error : {{ error }}</p>
        {% endif %}

        <div>
            {% block content %}{% endblock %}
        </div>
        
        <footer>Even more awesome footer</footer>
    </body>
</html>
