{% extends 'user_account.html.twig' %}

{% block nav %}
    <section class="upload">
        <div class="">
            <p>Welcome, {{ user.username }}</p>
        </div>

    </section>
{% endblock %}

{% block content %}
    <section class="profil">
        profil
    </section>
{% endblock %}




