{% extends 'layout.html.twig' %}

{% block content %}
<section class="register">
    <h2>SIGN UP</h2>
    <h3>Sign up for free and take advantage of our cloud hosting service!</h3>

    <div class="errors_style">
        {% for error in errors %}
            {{ error }}<br>
        {% endfor %}
    </div>

    <div class="register_part">

        <form class="register-container" action="?action=register" method="POST">
            Username : <input type="text" name="username"><br>
            Email : <input type="text" name="email"><br>
            Password : <input type="password" name="password"><br>
            Password Verif : <input type="password" name="verif_password"><br>
            Firstname : <input type="text" name="firstname"><br>
            Lastname : <input type="text" name="lastname"><br>
            <input type="submit">
        </form>



        <!--<form class="form_login login-container" action="?action=login" method="POST">
            Login : <input type="text" name="username" placeholder="Username">
            Password : <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Log in">
        </form>-->
    </div>

</section>
{% endblock %}
