<!DOCTYPE html>
<html lang="fr">
<head>
    <title>FILER 3</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 minimum-scale=0.2">
    <link rel="icon" type="image/png" href="web/image/favicon.png">
    <!--style-->
    <link rel="stylesheet" href="web/style/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!--script-->
    <script src="web/script/script.js"></script>
</head>
<body>
    <header class="header_user_account">

        <div class="width_title_menu">
            <a class="link" href="?action=yourFiles">
                UPTOFILES
            </a>
        </div>
        <div class="width_first_menu">
            <div class="width_first_option">
                <div>
                    <a class="link" href="?action=yourFiles">
                        Your FILES
                    </a>
                </div>
            </div>
        </div>

        <div class="width_logout">
            <a class="link" href="?action=logout">
                Logout
            </a>
        </div>
    </header>
    <main>
        <section class="user_account">
            <div class="column_left">
                {% block nav %}
                    <section class="user_account_right_part">
                        <div class="containt_left_view">
                            <p>Welcome, {{ user.username }}</p>
                        </div>
                        <div>
                            <div class="containt_left_view">
                                <a href="?action=application">
                                    APPLICATIONS
                                </a>
                            </div>
                            <div class="containt_left_view">
                                <a href="?action=picture">
                                    PICTURES
                                </a>
                            </div>
                            <div class="containt_left_view">
                                <a href="?action=audioVideo">
                                    AUDIO / VIDEO
                                </a>
                            </div>
                        </div>
                    </section>
                {% endblock %}
            </div>


            <div class="area_right">
                <div class="first_row_option">
                    <div class="button_option">
                        <a href="?action=upload">
                            Upload / Move
                        </a>
                    </div>
                    <div class="button_option">
                        <a href="?action=folder">
                            Folder
                        </a>
                    </div>
                    <form class="form_comeback_current_folder" action="?action=switchCurrentFolder" method="POST">
                        <input type="hidden" name="new_current_folder" value="0">
                        <input type="submit" value="Back to main folder">
                    </form>
                </div>

                <div class="column_right_containte">

                </div>
                {% if error is defined and error is not empty %}
                    <p class="error">Error : {{ error }}</p>
                {% endif %}


                {% block content %}{% endblock %}

            </div>

        </section>


    </main>
</body>
</html>
