html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

header {
  display: flex;
  background: #3B5998;
  color: #f4f7f8;
  height: 60px;
  width: 100%;
}
header nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
header nav .name_project {
  font-size: 22px;
  margin-left: 10px;
}
header nav .right_part_menu {
  width: auto;
}
header nav .right_part_menu .color_link_menu_right a {
  color: #f4f7f8;
  margin-right: 10px;
}

.login {
  background-color: #F3F3F3;
  background-image: url(../image/home.png);
  background-attachment: local;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 700px;
  /*background-image: url(../image/background.jpeg);
  background-attachment: local;
  background-size: 100% 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  width: 100%;*/
}
.login .errors_style {
  width: 100%;
  text-align: center;
  color: #fc5454;
  padding-top: 15px;
}
.login h2 {
  color: #3B5998;
  font-size: 35px;
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
  margin-top: 70px;
}
.login .container_login {
  display: inline-flex;
  width: 100%;
  margin-top: 50px;
}
.login .container_login .description_login {
  width: 55%;
  text-align: center;
  margin-top: 45px;
}
.login .container_login .description_login .color_important_p {
  color: black;
  font-size: 18px;
}
.login .container_login .login-container {
  background: #ebebeb;
  padding: 12px;
  width: 100%;
  border: 1px solid;
}
.login .container_login .login_part {
  margin: auto;
  margin-top: 4%;
}
.login .container_login .login_part p {
  padding: 12px;
  margin: auto;
}
.login .container_login .login_part input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}
.login .container_login .login_part input[type="text"],
.login .container_login .login_part input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}
.login .container_login .login_part input[type="text"]:focus,
.login .container_login .login_part input[type="password"]:focus {
  border-color: #888;
}
.login .container_login .login_part input[type="submit"] {
  background: #3B5998;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
  margin-top: 16px;
}
.login .container_login .login_part input[type="submit"]:hover {
  background: #17c;
}
.login .container_login .login_part input[type="submit"]:focus {
  border-color: #05a;
}

.register {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #F3F3F3;
}
.register h2 {
  margin-top: 15px;
}
.register h3 {
  margin-top: 15px;
}
.register .errors_style {
  width: 100%;
  text-align: center;
  color: #fc5454;
  padding-top: 15px;
}
.register .register-container {
  background: #ebebeb;
  padding: 12px;
  width: 100%;
}
.register .register_part {
  margin-top: 2%;
  width: 50%;
  margin-bottom: 20px;
}
.register .register_part p {
  padding: 12px;
  margin: auto;
}
.register .register_part input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}
.register .register_part input[type="text"],
.register .register_part input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}
.register .register_part input[type="text"]:focus,
.register .register_part input[type="password"]:focus {
  border-color: #888;
}
.register .register_part input[type="submit"] {
  background: #3B5998;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}
.register .register_part input[type="submit"]:hover {
  background: #17c;
}
.register .register_part input[type="submit"]:focus {
  border-color: #05a;
}

.header_user_account {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  background: #3B5998;
  color: #f4f7f8;
  width: 100%;
}
.header_user_account .width_title_menu {
  width: 20%;
  text-align: center;
  border-right: 1px solid #ababab;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_user_account .width_title_menu .link {
  color: white;
}
.header_user_account .width_first_menu {
  width: 68%;
  display: inline-flex;
  border-right: 1px solid #ababab;
  height: 60px;
  align-items: center;
}
.header_user_account .width_first_menu .link {
  color: white;
}
.header_user_account .width_first_menu .width_first_option {
  width: 20%;
  margin-left: 10px;
}
.header_user_account .width_first_menu .width_seconde_option {
  width: 20%;
}
.header_user_account .width_logout {
  width: 10%;
  text-align: center;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_user_account .width_logout .link {
  color: white;
}

.user_account {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.user_account .column_left {
  width: 20%;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #3B5998;
  height: 600px;
  color: white;
  border-top: 1px solid #ababab;
}
.user_account .column_left .user_account_right_part {
  width: 100%;
  border-top: 1px solid #ababab;
  color: white;
}
.user_account .column_left .user_account_right_part .containt_left_view {
  margin-top: 10px;
  margin-top: 10px;
  border-bottom: 1px solid #ababab;
  height: 60px;
}
.user_account .column_left .user_account_right_part .containt_left_view a {
  color: white;
}
.user_account .area_right {
  width: 80%;
}
.user_account .area_right .first_row_option {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 50px;
  background-color: #eeeeee;
}
.user_account .area_right .first_row_option .button_option {
  padding: 5px 6px;
  border-radius: 5px;
  width: 115px;
  background-color: #00a651;
  height: 15px;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user_account .area_right .first_row_option .button_option a {
  color: white;
}
.user_account .area_right .first_row_option .form_comeback_current_folder {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
}
.user_account .area_right .first_row_option .form_comeback_current_folder input[type=submit] {
  background-color: #00a651;
  padding: 5px;
  border-radius: 5px;
  border: 0;
  color: white;
  font-size: 14px;
}
.user_account .area_right .column_right_containte {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.user_account .area_right .bottom_area_grey {
  width: 100%;
  height: 250px;
  background-color: #eeeeee;
}

.upload {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.upload .size_left_part_upload {
  width: 100%;
}
.upload .size_left_part_upload .p_nav {
  width: 100%;
  margin: 20px 0px;
}
.upload .size_left_part_upload .underline {
  text-decoration: underline;
}
.upload .size_left_part_upload .list_upload {
  width: 80%;
  width: 73%;
  text-align: left;
  margin: auto;
}
.upload .size_error_upload {
  width: 100%;
  text-align: center;
  color: red;
  margin-top: 20px;
}
.upload .width_all_form {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}
.upload .width_all_form .size_form_upload {
  width: 46%;
  background-color: #eeeeee;
}
.upload .width_all_form .size_form_upload form {
  padding: 10px;
}
.upload .width_all_form .size_form_upload form input[type=submit] {
  width: 25%;
  background-color: #3B5998;
  border: 0;
  color: white;
  padding: 3px;
}
.upload .width_all_form .size_form_upload form .center_option {
  text-align: center;
}
.upload .width_all_form .size_form_replace {
  width: 46%;
  background-color: #eeeeee;
}
.upload .width_all_form .size_form_replace form {
  padding: 10px;
}
.upload .width_all_form .size_form_replace form input[type=submit] {
  width: 25%;
  background-color: #3B5998;
  border: 0;
  color: white;
  padding: 3px;
}
.upload .width_all_form .size_form_replace form .center_option {
  text-align: center;
}

.your_files {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 15px;
  margin-left: 5px;
  margin-bottom: 20px;
}
.your_files .size_picture_upload {
  width: 150px;
  height: 150px;
  padding: 5px;
}
.your_files .row_option_one_picture {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.your_files .row_option_one_picture .logo_download {
  width: 25px;
}
.your_files .form_delete {
  text-align: right;
  margin-top: -12px;
  margin-right: -10px;
}
.your_files .form_delete .none {
  display: none;
}
.your_files .size_row_folder_show {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
}
.your_files .size_row_folder_show .colum_for_folder {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}
.your_files .size_row_folder_show .colum_for_folder .go_in_folder {
  display: flex;
  justify-content: center;
}
.your_files .size_row_folder_show .colum_for_folder .go_in_folder input[type=submit] {
  background-color: #00a651;
  padding: 5px;
  border-radius: 5px;
  border: 0;
  color: white;
  margin-top: 4px;
  font-size: 14px;
}
.your_files .size_row_folder_show .colum_for_folder .size_folder_upload {
  width: 150px;
  height: 150px;
  padding: 5px;
}
.your_files .size_row_img_show {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}
.your_files .size_row_img_show .column_for_all_info {
  border: 1px solid #ababab;
  margin-right: 15px;
  width: 160px;
  margin-bottom: 15px;
  background-color: #eaeaea;
}
.your_files .size_row_img_show .column_for_all_info p {
  text-align: center;
  color: #6f6a6a;
}
.your_files .size_row_img_show .column_for_all_info .form_delete input[type=submit] {
  background-image: url(../image/cancel.png);
  background-size: 100% 100%;
  border: 0;
  border-radius: 50%;
  background-color: white;
  padding: 5px;
  height: 20px;
  width: 20px;
}
.your_files .size_row_img_show .column_for_all_info .row_option_one_picture {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.your_files .size_row_img_show .column_for_all_info .row_option_one_picture .rename_button {
  padding: 3px 7px;
  /*border: 1px solid black;*/
  border-radius: 20px;
  background-color: #00a651;
  color: white;
}
.your_files .size_row_img_show .column_for_all_info .form_rename {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.your_files .size_row_img_show .column_for_all_info .form_rename .none {
  display: none;
}
.your_files .size_row_img_show .column_for_all_info .form_rename input[type=mail] {
  padding: 2px;
}
.your_files .size_row_img_show .column_for_all_info .form_rename input[type=submit] {
  width: 50%;
  background-color: #3B5998;
  border: 0;
  color: white;
  padding: 3px;
}
.your_files .size_row_img_show .column_for_all_info .none {
  display: none;
}

.folder {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.folder .form_create_folder {
  width: 46%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
  padding: 10px;
  background-color: #EEEEEE;
}
.folder .form_create_folder p {
  text-align: center;
}
.folder .form_create_folder input[type=text] {
  width: 50%;
}
.folder .form_create_folder select {
  width: 52%;
}
.folder .form_create_folder input[type=submit] {
  width: 52%;
}

/*# sourceMappingURL=style.css.map */
